<div class="col-12 mt-3">
  <h4> Produtos cadastrados</h4>
</div>
<div class="col-md-12">
  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <label for="searchProduto">Pesquisar produto</label>
        <input type="text" class="form-control" id="searchProduto" aria-describedby="searchProdutoHelp" [(ngModel)]="termoPesquisaProduto">
        <small id="searchProdutoHelp" class="form-text text-muted">Digite o nome ou código do produto</small>
      </div>
    </div>
    <div class="offset-md-3 col-md-3 text-right">
      <button type="button" class="btn btn-primary mt-4 mr-0" (click)="openModalProduto()">
        <i class="fa fa-plus"></i> Cadastrar produto</button>
    </div>
  </div>
</div>
<div class="col-12">
  <div class="card">
    <div class="table-responsive">
      <table class="table table-sm table-hover">
        <thead>
          <tr>
            <th scope="col" class="font-weight-bold">Código</th>
            <th scope="col" class="font-weight-bold">Nome</th>
            <th scope="col" class="text-center font-weight-bold">Preço</th>
            <th scope="col" class="text-center font-weight-bold">Tem Controle de Estoque</th>
            <th scope="col" class="text-center font-weight-bold">EAN</th>
            <th scope="col" class="text-center font-weight-bold">Qtde em Estoque</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let produto of produtos | produto : [termoPesquisaProduto]; let i = index " (click)="editarProduto(produto)">
            <td>{{produto.codigo}}</td>
            <td>{{produto.nome}}</td>
            <td class="text-center">{{produto.preco | currency : 'BRL'}}</td>
            <td class="text-center">{{produto.temControleEstoque ? 'Sim' : 'Não'}}</td>
            <td class="text-center">{{produto.codigoDeBarras ? produto.codigoDeBarras : '-'}}</td>
            <td class="text-center">{{produto.quantidadeEstoque ? produto.quantidadeEstoque : '-'}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<app-produto [produto]="produto" operacaoDesejada="CRIACAO" (cancelOperation)="fecharModal()" (produtoChange)="novoProdutoCadastrado($event)"></app-produto>
