<div class="col-12 mt-3">
  <h4> Clientes pendurados</h4>
</div>
<div class="col-md-6">
  <div class="form-group">
    <label for="searchPendurado">Pesquisar pendurado</label>
    <input type="text" class="form-control" id="searchPendurado" aria-describedby="searchPenduradoHelp" [(ngModel)]="termoPesquisaPendurado">
    <small id="searchPenduradoHelp" class="form-text text-muted">Digite o nome, apelido, cpf ou telefone do pendurado</small>
  </div>
</div>
<div class="col-12">
  <div class="card">
    <div class="table-responsive">
      <table class="table table-sm table-hover">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col" class="font-weight-bold">Cliente</th>
            <th scope="col" class="text-center font-weight-bold">CPF</th>
            <th scope="col" class="text-center font-weight-bold">Celular</th>
            <th scope="col" class="text-center font-weight-bold">Valor Total Pendurado</th>
            <th scope="col" class="text-center font-weight-bold">Valor Total Pago</th>
            <th scope="col" class="text-center font-weight-bold">Saldo Devedor</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let cliente of pendurados$ | async | pendurado : [termoPesquisaPendurado]; let i = index " (click)="showPenduraDetails(cliente)">
            <th scope="row">{{i+1}}</th>
            <td>{{cliente.apelido}} - {{cliente.nome}}</td>
            <td class="text-center">{{cliente.cpf | mask: '000.000.000-00'}}</td>
            <td class="text-center">{{cliente.telefone | mask: '(00) 00000-0000'}}</td>
            <td class="text-center">{{cliente.totalPenduras | currency : 'BRL'}}</td>
            <td class="text-center">{{cliente.totalPgtosPenduras | currency : 'BRL'}}</td>
            <td class="text-center text-danger font-weight-bold">{{cliente.saldoDevedorPendura | currency : 'BRL'}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
