<div class="col-12 mt-3">
  <h4> Clientes cadastrados</h4>
</div>
<div class="col-md-12">
  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <label for="searchCliente">Pesquisar cliente</label>
        <input type="text" class="form-control" id="searchCliente" aria-describedby="searchClienteHelp" [(ngModel)]="termoPesquisaCliente">
        <small id="searchClienteHelp" class="form-text text-muted">Digite o nome ou código do cliente</small>
      </div>
    </div>
    <div class="offset-md-3 col-md-3 text-right">
      <button type="button" class="btn btn-primary mt-4 mr-0" (click)="openModalCliente()">
        <i class="fa fa-plus"></i> Cadastrar cliente</button>
    </div>
  </div>
</div>
<div class="col-12">
  <div class="card">
    <div class="table-responsive">
      <table class="table table-sm table-hover">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col" class="font-weight-bold">Nome</th>
            <th scope="col" class="font-weight-bold">Apelido</th>
            <th scope="col" class="text-center font-weight-bold">CPF</th>
            <th scope="col" class="text-center font-weight-bold">Celular</th>
            <th scope="col" class="text-center font-weight-bold"></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let cliente of clientes | pendurado : [termoPesquisaCliente]; let i = index ">
            <th scope="row" (click)="editarCliente(cliente)">{{i+1}}</th>
            <td (click)="editarCliente(cliente)">{{cliente.nome}}</td>
            <td (click)="editarCliente(cliente)">{{cliente.apelido}}</td>
            <td class="text-center" (click)="editarCliente(cliente)">{{cliente.cpf | mask: '000.000.000-00'}}</td>
            <td class="text-center" (click)="editarCliente(cliente)">{{cliente.telefone | mask: '(00) 00000-0000'}}</td>
            <td class="text-center">
                <fa name="minus-circle" (click)="deleteCliente(cliente)"></fa>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<app-bebum (closeModalBebum)="onClienteEvent($event)" (cancelarOperacao)="fecharModal()" [cliente]="cliente" operacaoDesejada="Criacao"></app-bebum>
