<mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark primary-color-dark">
  <mdb-navbar-brand>
    <a class="navbar-brand" routerLink="mesas">
      <img src="assets/img/logo.png" height="41" width="100" alt="Bartech">
    </a>
  </mdb-navbar-brand>

  <links>
    <ul class="navbar-nav mr-auto">
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link waves-light" mdbWavesEffect routerLink="mesas">Mesas
        </a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link waves-light" mdbWavesEffect routerLink="pagamento/pendurados">Pendurados
        </a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link waves-light" mdbWavesEffect routerLink="venda/produtos">Produtos
        </a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link waves-light" mdbWavesEffect routerLink="pagamento/clientes">Clientes
        </a>
      </li>
    </ul>
  </links>
</mdb-navbar>
<router-outlet></router-outlet>