<div class="col-12 mt-3">
  <form [formGroup]="pagamentoForm">
    <div class="row">
      <div class="col-md-3">
        <div class="form-group">
          <label for="valuePayment">Valor do Pagamento *</label>
          <input class="form-control" id="valuePayment" aria-describedby="valuePaymentHelp" placeholder="0" mask="0*,00" formControlName="valor"
            [dropSpecialCharacters]="false" prefix="R$ ">
          <app-vm-error [text]="'O valor deve ser maior que 0'" *ngIf="pagamentoForm.get('valor').errors"></app-vm-error>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label for="formasDePagamentos">Forma do Pagamento *</label>
          <select class="form-control" formControlName="formaPagamento">
            <option value="DINHEIRO">Dinheiro</option>
            <option value="CARTAO">Cartão</option>
            <option value="PENDURA">Pendura</option>
          </select>
          <app-vm-error [text]="'O campo Forma de Pagamento é obrigatório'" *ngIf="pagamentoForm.get('formaPagamento').errors"></app-vm-error>
        </div>
      </div>
      <div class="col-md-3">
        <button type="button" [disabled]="pagamentoForm.invalid" class="btn btn-primary mt-4" (click)="adicionarPagamento()">Adicionar</button>
        <button type="button" ([disabled])="venda.valorRestanteVenda > 0" class="btn btn-success mt-4" (click)="encerrarPagamento()">Encerrar</button>
      </div>
    </div>
  </form>
</div>
<div class="card">
  <div class="col-12 mt-2 mb-1">
    <div class="row">
      <div class="col-6">
        <h4>Pagamentos</h4>
        <div class="table-responsive">
          <table class="table table-sm table-hover">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col" class="text-center">Forma de Pagamento</th>
                <th scope="col" class="text-center">Cliente</th>
                <th scope="col" class="text-center">Valor</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let pagamento of venda.pagamentos; let i = index">
                <th scope="row">{{i+1}}</th>
                <td class="text-center">{{pagamento.formaPagamento}}</td>
                <td class="text-center">{{pagamento.cliente ? pagamento.cliente.apelido + ' - '
                  + pagamento.cliente.nome: ''}}</td>
                <td class="text-center">{{pagamento.valor | currency:'BRL'}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="col-6">
        <div class="row">
          <div class="col-6">
            <h4>Totais Venda</h4>
            <div class="col-12">
              Subtotal = {{venda.subtotal | currency:'BRL'}}
            </div>

            <div class="col-12">
              Descontos = {{venda.descontos | currency:'BRL'}}
            </div>

            <div class="col-12">
              Total = {{venda.total | currency:'BRL'}}
            </div>
          </div>
          <div class="col-6">
            <h4>Totais Pagamento</h4>
            <div class="col-12">
              Pagamentos = {{venda.totaisPagamentos | currency:'BRL'}}
            </div>
            <div class="col-12">
              {{venda.valorRestanteVenda < 0 ? 'Troco = ' : 'Valor a pagar = '}}
              {{venda.valorRestanteVenda | abs | currency : 'BRL'}}
            </div>
          </div>
        </div>
        <button class="btn btn-sm btn-primary mt-2">Aplicar Desconto</button>
      </div>
    </div>
  </div>
</div>

<app-bebum (closeModalBebum)="pendurar($event)" (cancelarOperacao)="fecharModal()" [cliente]="cliente" operacaoDesejada="Pendura"></app-bebum>
