<div class="container-fluid">
  <div class="row">
    <div class="col-7">
      <div class="form-group">
        <label for="searchProducts">Pesquisar produtos</label>
        <input type="text" class="form-control" id="searchProducts" aria-describedby="searchProductsHelp" [(ngModel)]="termoPesquisaProduto">
        <small id="searchProductsHelp" class="form-text text-muted">Digite o nome ou código do produto</small>
      </div>
      <h4>Produtos cadastrados</h4>
      <div class="row">
        <div class="col-4" *ngFor="let produto of produtos | produto : [termoPesquisaProduto]">
          <app-bt-card [title]="produto.nome" [subtitle]="produto.preco"></app-bt-card>
        </div>
      </div>
    </div>
    <div class="col-5">
      <app-itens-venda [itens]="venda.itensVenda"></app-itens-venda>
      <hr class="m-0" />
      <div class="col-12">
        <div class="row bg-success text-white font-weight-bold totais">
          <span class="col-6">Total </span>
          <span class="col-6 text-right">{{venda.total | currency : 'BRL'}}</span>
        </div>
      </div>
    </div>
  </div>
  <!--<button type="button" class="btn btn-primary mt-2" [routerLink]="['pagar']">Pagar</button>
  <button type="button" class="btn btn-danger mt-1" [routerLink]="['pendura',venda.id]">Pendura</button>-->
</div>