<div class="col-12 p-0">
  <app-bt-tabs>
    <app-bt-tab class="col-6 p-0" [(isSelected)]="mostrarProdutosCadastrados" titulo="Produtos" (change)="mostrarItens = false"></app-bt-tab>
    <app-bt-tab class="col-6 p-0" [(isSelected)]="mostrarItens" titulo="Itens" (change)="mostrarProdutosCadastrados = false"></app-bt-tab>
  </app-bt-tabs>
</div>
<div class="col-12 mt-3">
  <div class="row">
    <div class="col-md-6 col-lg-7" *ngIf="mostrarProdutosCadastrados">
      <h4>Produtos cadastrados</h4>
      <div class="form-group">
        <label for="searchProducts">Pesquisar produtos</label>
        <input type="text" class="form-control" id="searchProducts" aria-describedby="searchProductsHelp" [(ngModel)]="termoPesquisaProduto">
        <small id="searchProductsHelp" class="form-text text-muted">Digite o nome ou código do produto</small>
      </div>
      <div class="row">
        <div class="col-12 col-md-6 col-lg-4 mb-3" *ngFor="let produto of produtos$ | async | produto : [termoPesquisaProduto]">
          <app-bt-card title="{{produto.codigo}} - {{produto.nome}}" [subtitle]="produto.preco" [text]="produto.quantidadeEstoque"
            (click)="openModalItem(produto)"></app-bt-card>
        </div>
      </div>
    </div>
    <div class="col-md-6 col-lg-5 mb-3" *ngIf="mostrarItens">
      <h4>Itens adicionados na venda</h4>
      <div class="card">
        <app-itens-venda [itens]="venda.itensVenda" (itemRemoved)="onItemRemoved($event)"></app-itens-venda>
        <hr class="m-0" />
        <div class="col-12">
          <div class="row bg-success text-white font-weight-bold totais">
            <span class="col-6">Total </span>
            <span class="col-6 text-right">{{totalVenda | currency : 'BRL'}}</span>
          </div>
        </div>
      </div>
      <button type="button" class="btn btn-danger col-md-5 ml-0" (click)="cancelVenda()">Cancelar</button>
      <button type="button" ([disabled])="venda.itensVenda" class="btn btn-primary pull-right col-md-5 mr-0" (click)="encerrarVenda()">Pagar</button>
    </div>
  </div>
</div>

<ngx-smart-modal #addModal identifier="addModal" customClass="medium-modal">
  <div class="modal-header pt-0 pl-0 pr-0">
    <h5 class="text-center">Adicionar {{produto.nome}} à venda</h5>
  </div>
  <div class="modal-body pl-0 pr-0">
    <div *ngIf="produto.temControleEstoque">
      <span>Este produto possui </span>
      <span class="font-weight-bold" ngClass="{{produto.quantidadeEstoque > 10 ? 'text-success' : 'text-danger'}}">
        {{produto.quantidadeEstoque || 0}} itens em estoque.</span>
    </div>
    <span *ngIf="!produto.temControleEstoque">Este produto não possui controle de estoque. </span>
    <form [formGroup]="addForm">
      <div class="form-group mt-1">
        <label>Quantidade</label>
        <input type="text" class="form-control" formControlName="quantidade" [(ngModel)]="quantidade" mask="0?000000000" />
        <app-vm-error text="O campo Quantidade deve ser maior que 0" *ngIf="addForm.get('quantidade').errors"></app-vm-error>
      </div>
    </form>
  </div>
  <div class="modal-footer pb-0 pl-0 pr-0">
    <button type="button" (click)="addModal.close()" class="btn btn-danger">Cancelar</button>
    <button type="button" (click)="addItemVenda()" [disabled]="addForm.invalid" class="btn btn-primary mr-0">Adicionar</button>
  </div>
</ngx-smart-modal>